<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Course Trend Analyser</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>Chart</display-name>
		<servlet-name>Chart</servlet-name>
		<servlet-class>edu.utd.ooad.cta.controller.ChartGeneratorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Chart</servlet-name>
		<url-pattern>/Chart</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ChartHelper</display-name>
		<servlet-name>ChartHelper</servlet-name>
		<servlet-class>edu.utd.ooad.cta.controller.ChartHelperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartHelper</servlet-name>
		<url-pattern>/ChartHelper</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.utd.ooad.cta.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Summary</display-name>
		<servlet-name>Summary</servlet-name>
		<servlet-class>edu.utd.ooad.cta.controller.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Summary</servlet-name>
		<url-pattern>/Summary</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>OneStudentAllExamHelperServlet</display-name>
		<servlet-name>OneStudentAllExamHelperServlet</servlet-name>
		<servlet-class>edu.utd.ooad.cta.controller.OneStudentAllExamHelperServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OneStudentAllExamHelperServlet</servlet-name>
		<url-pattern>/OneStudentAllExamHelperServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>edu.utd.ooad.cta.utils.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>

</web-app>